<h1>Welcome to the portal!</h1>
<br />
<form asp-controller="Home" asp-action="Confidential" method="get">
    <input type="image" name="submit" src="~/images/IconEncrypt.png" border="0" alt="Submit" style="width: 75px;" /> 
    <strong> Confidential:</strong> Confidential data upload.
</form>
<br>
<form asp-controller="Home" asp-action="Visualize" method="get">
    <input type="image" name="submit" src="~/images/IconDecrypt.png" border="0" alt="Submit" style="width: 75px;" /> 
    <strong> Visualize:</strong> Display confidential data.
</form>